@inherits LayoutComponentBase
@inject IElectronService ElectronService

<ErrorBoundary>
    <ChildContent>
        @Body
    </ChildContent>
    <ErrorContent>
        @{
            ErrorHandle.OutputError(context, ElectronService);
            <div>@context.ToString()</div>
        }
    </ErrorContent>
</ErrorBoundary>

<RadzenComponents @rendermode="InteractiveServer" />
